/**
 * Login Box
 */
#login #loginBox {
  margin: auto;
  max-width: 450px;
  color: #666666;
  font-weight: 200;
  font-size: 15px;
  font-family: "Open Sans";
}

#login #loginBox label {
  display: block;
  margin-top: 8px;
  text-align: left;
}

#login #loginBox input[type=text], #login input[type=password] {
  padding: 0 12px;
  margin: 0;
  width: 100%;
  height: 40px;
  display: block;
  color: #666666;
  font-weight: 400;
  font-size: 13.3333px;
  font-family: Arial;
  border: 2px solid #DDDDDD;
}

#login #loginBox button {
  padding: 16px 20px;
  display: block;
  margin: 15px auto 0 auto;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #FFFFFF;
  background: #005295;
  border: 1px solid #005295;
}